################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WooBee-MVVMLight/bin
/WooBee-MVVMLight/BundleArtifacts
/WooBee-MVVMLight/obj
/WooBee-MVVMLight/_scale-100.appx
/WooBee-MVVMLight/_scale-125.appx
/WooBee-MVVMLight/_scale-150.appx
/WooBee-MVVMLight/_scale-400.appx
